<header>
    <nav class="navbar navbar-dark bg-dark mb-5">
        <a class="navbar-brand" href="/">Student Management System</a>
        <div class="navbar-expand mr-auto">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="create-class">New Class</a>
                <a class="nav-item nav-link" href="user-listing?type=Teacher">Teachers</a>
                <a class="nav-item nav-link" href="user-listing?type=Student">Students</a>
                <a class="nav-item nav-link" href="create-task">New Task</a>
                <a class="nav-item nav-link" href="list-tasks">Assigned Tasks</a>               
            </div>
        </div>
        <div>
            <label class="navbar-text">Welcome, </label>
            <button>Logout</button>
        </div>
    </nav>
</header>