<h2>Create class</h2>
<form [formGroup]="classForm" (ngSubmit)="onSubmit()">
    <section class="form-group">
        <input placeholder="Class" type="text" formControlName="class" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.class.errors }" />
        <span *ngIf="submitted && f.class.errors" class="invalid-feedback">
            <span *ngIf="f.class.errors.required">Class is required</span>
        </span>
    </section>
    <section class="form-group">
        <select formControlName="teacher" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.teacher.errors }">
            <option [ngValue]="null" selected="selected">Select Teacher</option>
            <option [value]="teacher._id" *ngFor="let teacher of teachers">{{teacher.firstName}} {{teacher.lastName}}</option>
        </select>
        <span *ngIf="submitted && f.teacher.errors" class="invalid-feedback">
            <span *ngIf="f.teacher.errors.required">Teacher is required</span>
        </span>
    </section>
    <section class="form-group">
        <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="3">
            <thead>
                <tr>
                    <th style="width: 10%">
                        <mfDefaultSorter by="age">Select</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                    </th>
                    <th style="width: 50%">
                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td><input type="checkbox"/></td>
                    <td>{{student.firstName}} {{student.lastName}}</td>
                    <td>{{student.email}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
    <section class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Submit</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/register']" class="btn btn-link">Cancel</a>
    </section>
</form>